* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-family: 'Exo', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

/* Header */
.header {
  background-image: url(../img/header_bg.jpg.png);
  background-size: cover;
  height: 900px;
  padding-top: 45px;
}

.main-nav-items {
  display: flex;
  justify-content: flex-end;
  margin-left: 15px;
}

.main-nav-item {
  margin-left: 15px;
  font-family: 'Myriad Pro';
  font-size: 24px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0.96px;
}

.link-menu {
  color: #282828;
}

.offer {
  width: 740px;
  margin: 155px auto 230px;
  text-align: center;
}

.offer-title {
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 2.4px;
  margin-bottom: 50px;
}

.elipse {
  margin: 0 auto;
  width: 59px;
  height: 59px;
  background-color: #323969;
  border-radius: 100%;
  opacity: 0.5;
  background-image: url(../img/Polygon_1.png);
  background-repeat: no-repeat;
  background-position: 55% 50%;
  cursor: pointer;
}

.btn {
  display: block;
  margin: 39px auto 19px;
  width: 190px;
  color: #ffffff;
  font-family: 'Myriad Pro';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding: 19px 50px;
  text-align: center;
  border-radius: 3px;
  background-color: #ff6d6d;
}

.subtitle {
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.56px;
  opacity: 0.6;
}

/* About design */
.container-design {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.img-design {
  position: absolute;
  left: 725px;
}

.text-box {
  width: 575px;
  margin-top: 190px;
  margin-bottom: 148px;
}

.suptitle {
  color: #ff6d6d;
  font-family: Exo;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.title {
  margin-top: 15px;
  width: 495px;
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
}

.title span {
  color: #ff6d6d;
  letter-spacing: 1.6px;
}

.description {
  width: 574px;
  opacity: 0.66;
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  margin-bottom: 35px;
}

/* New fetures */
.new-features {
  background-image: url(../img/section3_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 135px;
}

.title-features {
  text-align: center;
}

.title-features {
  margin-top: 15px;
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1.6px;
  margin-bottom: 95px;
}

.description-features {
  opacity: 0.66;
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.features-items {
  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 335px;
  text-align: center;
  margin-bottom: 185px;
}

.subtitle-features {
  color: #282828;
  font-family: 'Myriad Pro';
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.88px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.resposive-design {
  padding-top: 93px;
  padding-bottom: 90px;
}

.resposive-wrap {
  display: flex;
}

.img-macbook {
  margin-left: -100px;
}

.resposive-description-items {
  margin-top: 47px;
  margin-left: 52px;
}

.resposive-title {
  width: 440px;
  color: #282828;
  font-family: Exo;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-top: 25px;
  margin-bottom: 36px;
}

.resposive-title span {
  color: #ff6d6d;
  letter-spacing: 1.6px;
}

.resposive-description {
  width: 515px;
  color: #282828;
  opacity: 0.66;
  font-family: Exo;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.reviews {
  background-image: url(../img/Group_4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 110px 0 80px 0;
}

.reviews-lists {
  display: flex;
  justify-content: space-between;
}

.reviews-list {
  text-align: center;
  width: 325px;
}

.square {
  width: 76px;
  height: 76px;
  border: 2px solid #1d1e24;
  background-color: #4e4e5e;
  margin: 0 auto 25px;
}

.reviews-title {
  color: #ffffff;
  font-family: Exo;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;
  margin-bottom: 12px;
}

.reviews-subtitle {
  color: #ff6d6d;
  font-family: Exo;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 37px;
}

.reviews-description {
  opacity: 0.66;
  color: #ffffff;
  font-family: 'Exo - Regular';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  font-style: italic;
  margin-bottom: 105px;
}

.logo-company {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.features {
  background-color: #f6f5f3;
  padding-top: 108px;
  text-align: center;
}

.suptitle-feateres {
  color: #ff6d6d;
  font-family: Exo;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-bottom: 15px;
}

.features-title {
  color: #282828;
  font-family: Exo;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.6px;
  margin-bottom: 48px;
}

.features-description {
  margin: 0 auto;
  width: 650px;
  opacity: 0.66;
  color: #282828;
  font-family: Exo;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}

.img-rectangle {
  margin-top: 93px;
  margin-bottom: -2px;
}

.features-form {
  background-color: #323969;
  padding-top: 98px;
  padding-bottom: 85px;
}

.features-header {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 96px;
}

.color-features {
  color: #fff;
}

.features-form-box {
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
}

.input-features::placeholder {
  color: #fff;
}

.input-features {
  width: 263px;
  height: 49px;
  border-radius: 3px;
  background-color: #f6f5f3;
  background: transparent;
  border: 1px solid #ffffff;
  opacity: 0.5;
  margin-right: 30px;
  padding: 18px 29px;
}

.button {
  width: 258px;
  height: 50px;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  border-radius: 3px;
  border: 1px solid #ff6d6d;
  background-color: #ff6d6d;
  color: #f6f5f3;
  font-family: Exo;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.81px;
}

.btn-box {
  position: relative;
}

.btn-box-title {
  position: absolute;
  color: #f6f5f3;
  font-family: Exo;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.64px;
  top: -55px;
  left: 45px;
}

.arrow {
  position: absolute;
  top: -55px;
  left: 5px;
}

.features-form-description {
  text-align: center;
  opacity: 0.6;
  color: #f6f5f3;
  font-family: Exo;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.features-form-description span {
  text-decoration: underline;
}

.footer {
  padding-top: 95px;
  padding-bottom: 95px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  width: 975px;
}

.footer-list-one {
  width: 250px;
}

.footer-description {
  opacity: 0.56;
  color: #282828;
  font-family: Exo;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.56px;
  line-height: 26px;
  margin-top: 28px;
}

.logo {
  color: #2c2f49;
  font-family: Lato;
  font-size: 27px;
  font-weight: 400;
  position: relative;
}

.logo span {
  color: #fff;
  z-index: 3;
}

.logo::before {
  content: '';
  position: absolute;
  width: 42px;
  height: 47px;
  background-image: url(../img/Polygon_logo.png);
  background-repeat: no-repeat;
  top: -4px;
  left: 62px;
  z-index: -3;
}

.footer-title {
  color: #282828;
  font-family: Exo;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.88px;
  margin-bottom: 28px;
}

.foter-menu-list {
  opacity: 0.66;
  color: #282828;
  font-family: Exo;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 0.56px;
}

.input-footer {
  width: 263px;
  height: 49px;
  border-radius: 3px;
  border: 1px solid #4e4e5e;
  background-color: #8d8d8d;
  opacity: 0.4;
  background: transparent;
  padding-left: 29px;
  position: relative;
}

.footer-form {
  position: relative;
  margin-bottom: 19px;
}

.footer-form::before {
  position: absolute;
  content: '';
  width: 52px;
  height: 49px;
  box-shadow: 0 3px 3px rgba(14, 15, 15, 0.25);
  border-radius: 3px;
  border: 1px solid #ff6d6d;
  background-color: #ff6d6d;
  top: 0;
  left: 210px;
}

.footer-form::after {
  position: absolute;
  content: '';
  background-image: url(../img/10.png);
  background-repeat: no-repeat;
  width: 52px;
  height: 49px;
  top: 15px;
  left: 225px;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
}

.social-img {
  margin-right: 30px;
}
